body {
  background: black;
  margin: 0;
}

.p5 {
  margin-right: : 500px;
  align-content: top;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: :1fr 1fr 1fr;
  grid-gap: 10px;
  align-content: top;
  justify-content: top;
  background: black;
  margin: 0 auto;
  border-top: 500em;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.vid {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

h1 {
  position: absolute;
  font-size: 100px;
  font-family: 'random';
  font-weight: normal;
  font-style: cursive;
  font-family: monospace;
  text-align: right;
  color: white;
}

.img1 {
  width: 300px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  height: 300px;
  width: 300px;
  opacity: 0;
  transition: .5s ease;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.9) 0%, rgba(113, 113, 113, 0.9) 35%, rgba(184, 184, 184, 0.9) 100%);
}

.overlay2 {
  position: absolute;
  bottom: 67%;
  margin: 0;
  height: 340px;
  width: 300px;
  opacity: 0;
  transition: .5s ease;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.9) 0%, rgba(113, 113, 113, 0.9) 35%, rgba(184, 184, 184, 0.9) 100%);
}

.overlay3{
  position: absolute;
  bottom: 33%;
  margin: 0;
  height: 310px;
  width: 300px;
  opacity: 0;
  transition: .5s ease;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.9) 0%, rgba(113, 113, 113, 0.9) 35%, rgba(184, 184, 184, 0.9) 100%);
}

.img1:hover .overlay {
  opacity: 1;
}

.img2:hover .overlay2 {
  opacity: 1;
}

.img3:hover .overlay2 {
  opacity: 1;
}

.img4:hover .overlay2 {
  opacity: 1;
}

.img5:hover .overlay3 {
  opacity: 1;
}

.img6:hover .overlay3 {
  opacity: 1;
}

.img7:hover .overlay3 {
  opacity: 1;
}

.text {
  color: white;
  font-size: 80px;
  font-family: 'random';
  font-weight: normal;
  font-style: cursive;
  font-family: monospace;
  position: absolute;
  top: 40%;
  right: 5%;
}

.desc{
  color: white;
  font-size: 20px;
  font-family: 'random';
  font-weight: normal;
  font-style: cursive;
  font-family: monospace;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
