body{
  background-color: black;
  font-weight: normal;

}

h1{
  margin-left: 40%;
  margin-top: -2%;
  font-family: 'Andale Mono';
  font-weight: normal;
  font-style: cursive;
  color: white;
  font-size:5em;
  }

p {
  color:white;
  margin-left: 2em;
  margin-right: 35em;
  padding: 1em;
  font-size:1em;
  font-family: 'Andale Mono';
  font-weight: normal;
  font-style: cursive;
}


.content{
  position: absolute;
  top: 30%;
  margin-top: 5%;
}
