body{
  margin: 0;
  /* overflow: hidden; */
}

.particulas{
  width: 1920px;
  height: 1080px;
}

.nulo{
  width: 100%;
  height: 100%;
}

.lluvia{
  width: 100%;
  height: 100%;
}

a{
  text-decoration: none;
}

.ghost{
  position: absolute;
  right: 70px;
}

.fa-long-arrow-alt-left{
  font-size: 2em;
  color: grey;
}

.atras{
  position: fixed;
  top: 0;
  left: 10px;
  width: 50px;
  opacity: 1;
}

.atras:hover{
  opacity: .5;
}
