body {
  background: black;
  margin: 0;
}

.p5 {
  margin-right: : 500px;
  align-content: top;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: :1fr 1fr 1fr;
  grid-gap: 10px;
  align-content: top;
  justify-content: top;
  background: black;
  margin: 0 auto;
  border-top: 500em;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.vid {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

h1 {
  position: absolute;
  font-size: 100px;
  font-family: 'random';
  font-weight: normal;
  font-style: cursive;
  font-family: monospace;
  text-align: right;
  color: white;
}

.overlay {
  width: 5em;
  height: auto;
  position: absolute;
  font-size: 11px;
  top: 1%;
  left: 16%;
  opacity: 0;
  pointer-events: none;
  font-family: Arial;
  background: #ededed;
  border-radius: 0.6px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.35);
  padding: 1px;
}

.img1:hover .overlay {
  opacity: 1;
}

.img2:hover .overlay {
  width: 7em;
  left: 40%;
  opacity: 1;
}

.img3:hover .overlay{
  width: 4em;
  left: 70%;
  opacity: 1;
}

.img4:hover .overlay{
  width: 4em;
  left: 94%;
  opacity: 1;
}

.img5:hover .overlay {
  top: 34%;
  left: 17%;
  width: 8.5em;
  opacity: 1;
}

.img6:hover .overlay{
  top: 34%;
  left: 45%;
  opacity: 1;
}

.img7:hover .overlay{
  width: 3em;
  top: 34%;
  left: 71%;
  opacity: 1;
}

.img8:hover .overlay{
  width: 3em;
  top: 34%;
  left: 95%;
  opacity: 1;
}

.text {
  color: white;
  font-size: 80px;
  font-family: 'random';
  font-weight: normal;
  font-style: cursive;
  font-family: monospace;
  position: absolute;
  top: 40%;
  right: 5%;
}
