body {
  background-color: black;
  font-weight: normal;
}

h1 {
  margin-top: 3%;
  margin-left: 2%;
  font-family: 'Andale Mono';
  font-weight: normal;
  font-style: cursive;
  color: white;
  font-size: 4em;
}

video {
  display: block;
  float: left;
  margin-left: -5%;
  margin-top: -2%;
  padding: 0;
}

#desc{
  /* display: block; */
  float: right;
  width: 650px;
  /* margin-right: 1%; */
  /* margin-top: -3%; */
}

p {
  color: white;
  float: right;
  font-size: 1.2em;
  line-height: 2;
  font-family: 'Andale Mono';
  font-weight: normal;
  font-style: cursive;
}

hr {
  position: absolute;
  margin-left: 4%;
  width: 50%;
}

a {
  text-decoration: none;
}

i:hover{
  color: white;
}

i{
  font-size: 3em;
  margin-left: 2%;
  color: grey;
}

.content {
  position: absolute;
  top: 30%;
  margin-top: 5%;
}

.fa-long-arrow-alt-left {
  font-size: 2em;
  color: grey;
}

.atras {
  position: fixed;
  top: 0;
  left: 10px;
  width: 50px;
  opacity: 1;
}

.atras:hover {
  opacity: .5;
}