12.png filter=lfs diff=lfs merge=lfs -text
2.png filter=lfs diff=lfs merge=lfs -text
3.png filter=lfs diff=lfs merge=lfs -text
6.png filter=lfs diff=lfs merge=lfs -text
7.png filter=lfs diff=lfs merge=lfs -text
8.png filter=lfs diff=lfs merge=lfs -text
1.png filter=lfs diff=lfs merge=lfs -text
10.png filter=lfs diff=lfs merge=lfs -text
11.png filter=lfs diff=lfs merge=lfs -text
4.png filter=lfs diff=lfs merge=lfs -text
5.png filter=lfs diff=lfs merge=lfs -text
9.png filter=lfs diff=lfs merge=lfs -text
glitchysadghosts.mp4 filter=lfs diff=lfs merge=lfs -text
lluvia.mp4 filter=lfs diff=lfs merge=lfs -text
nulo.mp4 filter=lfs diff=lfs merge=lfs -text
particulas.mp4 filter=lfs diff=lfs merge=lfs -text
